html
  position relative
  min-height 100%

body
  padding 0
  margin-bottom 60px
  background-color red
  background url(../img/upfeathers.png)

a
  &:hover
    text-decoration underline
  &.navbar-brand
    &:active
      -webkit-box-shadow -200px -200px 0px -200px rgba(0,0,0,0.75)
      -moz-box-shadow -200px -200px 0px -200px rgba(0,0,0,0.75)
      box-shadow -200px -200px 0px -200px rgba(0,0,0,0.75)

table
  background-color white
  margin 0 auto
  text-align center
  margin-bottom 15px

p
  line-height 24px
  margin-bottom 17px
  text-align center

h1,h2,h3
  text-align center

th,
td
  border 1px dotted #ccc
  padding 5px 15px

.navbar
  background-color #F6CECE

.navbar-default
  .navbar-nav
    & > .active
      & > a
        background-color #F78181
        &:hover
          background-color #F78181
    & > li
      & > a
        border-radius 20px
        &:active
          -webkit-box-shadow inset 1px 0px 4px 2px rgba(0,0,0,0.75)
          -moz-box-shadow inset 1px 0px 4px 2px rgba(0,0,0,0.75)
          box-shadow inset 1px 0px 4px 2px rgba(0,0,0,0.75)

th
  background-color #eee

div
  & > p
    & > img
      width 100%

.nav
  &.subnav
    li
      &.active
        a
          border-left 3px solid #428bca
          margin-left -3px
      a
        padding 5px 5px
        border 2px solid #eee
        border-radius 5px
        margin-bottom 5px
        width 100px
  & > li
    & > a
      & > .glyphicon
        font-size 12px
        margin-left 6px
        border-radius 5px

@media(max-width: 768px)
	.row .private
		margin-left 0
		padding-left 15px
		padding-top 40px
		.private--vertical-bar
			width 100%
			height 30px

.row
  .private
    .private--vertical-bar
      width 100%
      height 30px


  .list-group
    span
      p
        margin-bottom 0px
        margin-top 5px

.panel-footer
  padding 0px 20px 0px 0px
  text-align right
  a
    display block
    text-align right
    color #ada9a9

.panel-warning
  .panel-footer
    background-color #fcf8e3

span
  &.glyphicon
    &.glyphicon-lock
      color #555
      margin-right 10px

.private
  border solid 1px #999
  border-radius 3px
  margin 10px 0px 10px -45px
  padding 10px 10px 10px 45px
  position relative
  .glyphicon
    margin-left 7px
    margin-top 7px

.private--vertical-bar
  background-color #e7e7e7
  border-top-left-radius 3px
  border-bottom-left-radius 3px
  position absolute
  left 0
  top 0
  bottom 0
  width 30px

.footer
  position absolute
  bottom 0
  width 100%
  padding-top 6px
  color #999
  background-color #f8f8f8
  border-top 1px solid #e7e7e7
  text-align center
  p
    margin 0
